.about {
  display: flex;
  width: 100%;
  position: relative;
}

.about__photo-container {
  display: flex;
  width: 32.22%;
  max-width: 464px;
  height: min-content;
  margin: auto 3.88% auto 7.2%;
  background-image: url(../../images/about__image.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 1000px;
}

.about__photo-container::after {
  content: '';
  display: block;
  padding-top: 100%;
}

.about__text-container {
  width: 41.66%;
  margin: 131px 15% 279px 0;
}

.about__title {
  font-family: 'Roboto-slab';
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #1a1b22;
  margin: 0 auto 24px 0;
}

.about__text {
  margin-top: 0;
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
}

.about__text:last-child {
  margin-bottom: 0;
}

@media (max-width : 1023px) {
  .about__photo-container {
    width: 30.21%;
    margin: auto 4.16% auto 5.21%;
  }

  .about__text-container {
    width: 55.21%;
    margin: 40px 5.21% 72px 0;
  }

  .about__title {
    font-size: 30px;
    line-height: 40px;
    margin: 0 auto 16px 0;
  }
}

@media (max-width : 639px) {
  .about {
    flex-direction: column;
  }

  .about__photo-container {
    width: 272px;
    height: 272px;
    margin: 32px auto 24px;
  }

  .about__text-container {
    margin: 0 auto 80px;
    width: 90%;
  }

  .about__title {
    margin: 0 auto 16px 0;
  }
}
